@{
    ViewBag.Title = "Internal Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="row">
        <div class="col-12 text-center">
            <div class="card contact shadow-sm mb-3 p-1 bg-white rounded">
                <div class="card-header card-title">
                    <h2 class="title m-0">Error 500: Internal Error</h2>
                </div>
                <div class="card-body">
                    <p class="lead">An Internal Server Error has Occured.
                        Contact computer services should the issue persist.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
