@{
    ViewBag.Title = "Not Implemented";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="row">
        <div class="col-12 text-center">
            <div class="card contact shadow-sm mb-3 p-1 bg-white rounded">
                <div class="card-header card-title">
                    <h2 class="title m-0">Error 501: Not Implemented</h2>
                </div>
                <div class="card-body">
                    <p class="lead">The server either does not recognize the request method, or it lacks the ability to fulfill the request.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
