<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://290-APP-CL-V3/MiscInv</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>290-APP-CL-V3</MSDeployServiceURL>
    <DeployIisAppPath>default web site/MiscInv</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ahtd\js42123</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MISC_INVENTORYEntities1" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MiscInventory.Models.MISC_INVENTORYEntities1, MiscInventory" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MISC_INVENTORYEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=testmfdb;Initial Catalog=MISC_INVENTORY;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MISC_INVENTORYEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.MiscInventory.csdl|res://*/Models.MiscInventory.ssdl|res://*/Models.MiscInventory.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=testmfdb;initial catalog=MISC_INVENTORY;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SYSTEM_SECURITYEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MiscInventory.Models.SYSTEM_SECURITYEntities, MiscInventory" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MISC_INVENTORYEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MISC_INVENTORYEntities1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SYSTEM_SECURITYEntities-Web.config Connection String" />
  </ItemGroup>
</Project>